[Unit]
Description=Laravel Queue Worker - MBMT
After=network.target

[Service]
User=www-data
Group=www-data
Restart=always
RestartSec=5
ExecStart=/usr/bin/php /var/www/mbmt/artisan queue:work database --sleep=3 --tries=3 --max-time=3600
WorkingDirectory=/var/www/mbmt
StandardOutput=append:/var/log/laravel-queue.log
StandardError=append:/var/log/laravel-queue-error.log

[Install]
WantedBy=multi-user.target
